{% extends 'base.html.twig' %}

{% block title %}Ajouter une spécialité{% endblock %}

{% block body %}
    <h1>Ajouter une spécialité</h1>

    {{ include('specialty/_form.html.twig') }}

    <a href="{{ path('specialty_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
